html {
    font-family: 'Roboto', sans-serif
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
    background-color: black;
    color: white;
}

header ul a {
    color: white;
    text-decoration: none;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
  
header ul li {
    display: inline;
}

section.main {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

section.main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 300px;
}

#banner > img {
    display: block;
    margin: 0px auto;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

#container1 {
    display: grid;
    grid-template-columns: auto auto;

}

#bio p {
    max-width: 90%;
}

#bio img {
    max-width: 60%;
}

#what-i-can-do {
    background-color: #FAFAFA;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#what-i-can-do > h2 {
    text-align: center;
}

#flex-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

#container2 > div {
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#container2 > div > a {
    color: white;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid black;
    border-radius: 5px;
    text-decoration: none;
}

#my-work {
    text-align: center;
}

#my-work > p {
    padding-left: 15%;
    padding-right: 15%;

}

#work {
    display: grid;
    grid-template-rows: auto auto;
}

#work div img {
    width: 30%;
}
    

#reviews {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#reviews h2 {
    padding-bottom: 30px;
}

#container3 {
    display: grid;
    grid-template-columns: auto auto;   
}

#contact-info {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#social {
    display: inline;
}

#social img {
    width: 5%;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: .1px;
    padding-bottom: .1px;
}